<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Runs - Run Tracker</title>
    <link rel="stylesheet" href="public\css\running.css">
</head>

<body>
    <header>
        <h1>User Runs</h1>
    </header>

    <main>
        <div id="runList">
            {{!-- Handlebars placeholders for run cards --}}
        </div>

        <div id="runDetails">
            {{!-- Handlebars placeholders for run details --}}
        </div>
    </main>

    

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script id="runListTemplate" type="text/x-handlebars-template">
        {{!-- Handlebars template for run cards --}}
        {{#each runs}}
            <div class="run-card" onclick="showRunDetails('{{info}}')">
                <h3>{{info}}</h3>
            </div>
        {{/each}}
    </script>

    <script id="runDetailsTemplate" type="text/x-handlebars-template">
        {{!-- Handlebars template for run details --}}
        <h2>{{selectedRun.info}}</h2>
        <p>{{selectedRun.details}}</p>
    </script>

    <script src="./js/runningData.js"></script>
</body>

</html>
