*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container2 {
    width: 100%;
    height: 100vh;
    background-image: url(images/Dark\ Shoes.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

header h1 {  
    font-family: "Monoton", sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 2px #06C9B7;
    color: #3c00a0;
    padding: 10px;
    text-align: center;
    /* border-bottom: solid 3px #06C9B7; */
}

header h1::after {
    content: '';
    width: 400px;
    height: 4px;
    border-radius: 3px;
    background: #FEF410;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.card-container {
    display: flex;
    justify-content: center;
    
}

.card-title {  
    font-family: "Monoton", sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px #06C9B7;
    color: #3c00a0;
    text-align: center;
    padding-top: 40px;
    z-index: 1;
}

.statsCard {
    background: #06C9B7;
    color:#3c00a0;
    height: 300px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #FEF410;
    margin: 10px;
    padding: 12px;
}

.historyCard{
    background :#06C9B7;
    color:#3c00a0;
    height: 300px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #FEF410;
    margin: 10px;
    padding: 12px;
    overflow: scroll;
}

input {
    width: 100%;
    background: rgb(227, 223, 190);
    border: 0;
    outline: 0;
    padding: 0px 5px;
    border-radius: 3px;

}

.input-field i {
    margin-left: 5px;
    color:  #FEF410;
}

.submitBtn-field {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.submitBtn-field button {
    flex-basis: 48%;
    background: #FEF410;
    color: black;
    height: 40px;
    border-radius: 20px;
    margin: 15px;
    padding: 0 15 0 15;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.submitBtn-field button:hover {
    background: #3c00a0;
    color: whitesmoke;
}

.submitBtn-field button:active {
    background-color: #06C9B7;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
}

.historyBlock {
    list-style-type: none;
    border: solid 1px black;
    margin-left: 10px;
    padding: 3px;
}

.historyBlock li{
    list-style-type: none;
    margin-left: 10px;
    padding: 3px;
    font-size: 12px;
}

h4 {
    padding: 3px;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#runList,
#runDetails,{
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.run-card {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.run-card:hover {
    background-color: #e0e0e0;
}

#runDetails {
    border: 1px solid #ddd;
} */

